<table class='fw' id="<%= "scores_#{@event_id}" %>">
<tr>
  <td width="30"><center>POS</center></td>
  <td width="450"><center><b>LEADERS</b></center></td>
  <td width="50"><center>THRU</center></TD>
  <td width="50"><center>SCORE</center></TD>
</tr>
</table>
