The RL-Competition has requested that you make some changes to your registration
before it is approved. Please make the following changes:

<%= @changes %>

Please go to the following URL to edit your team:

http://rl-competition.org/component/option,com_wrapper/Itemid,46/