The RL-Competition administrators have reviewed your team registration and
it has been rejected for the following reason:

<%= @reason %>

If you believe you should have been verified, please contact the competition
administrators.