The RL-Competition administrators have reviewed your team registration and
you have been verified. Welcome to the competition!

You can edit your team (add/remove members, change the team url) at the following
URL (You will have to login):

http://rl-competition.org/component/option,com_wrapper/Itemid,46/

You can download the competition package either by following the link from the above
URL, or directly here:

http://rlai.cs.ualberta.ca/leaderboard/packages/1