<div id="team_registration">
<h1>Team Registration</h1>
<p>Thanks for registering your team. Your submission will be reviewed by the competition administrators.
You will be e-mailed when your team has been approved, or if changes are required.</p>
<p>To get started, you can download the competition package <%= link_to "here", package_path(1) %></p>
<p>Please note that the RL-Competition website and the team registration site are separate. If you wish to register for e-mail updates about the competition or access the message boards, then click <%= link_to "here", "http://rl-competition.org/component/option,com_registration/task,register/"%></p>
<br />
<%= link_to "Back to teams", teams_path %>
</div>